@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark-green: #7d8d7e;
  --primary:#FEFDED;
  --grey: #B5C0D0;
  --brown: #8d8882cc;
  --brown1: #8d8882de;

}

body {
  background-color: var(--dark-green);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.example-button {
  background: rgb(86, 1, 245);
  color: white;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}